@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #232323;
    color: white;
}

.container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn {
    padding: 5px;
    color: black;
    background-color: white;
    border: 1px solid gray;
}
.btn:hover {
    padding: 5px;
    color: white;
    background-color: #172A46;
    border: 1px solid gray;
}